* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 342px;
    padding: 0 20px;
}

.text-section {
    width: 582px;
    margin-right: 20px;

}

img {
    width: 595px;
    height: 500px;
    display: block;
    margin-right: 40px;
}

h1 {
   
font-weight: 700px;
font-size: 62px;
leading-trim: NONE;
line-height: 82px;
letter-spacing: 0.6px;
color: #161A49;

}

p {
   
font-weight: 400px;
font-size: 18px;
leading-trim: NONE;
line-height: 33px;
letter-spacing: 0.5px;

}



a {

font-weight: 500px;
font-size: 18px;
leading-trim: NONE;
color: #6FBF44;
margin-top: 5%;

}
  

.MENU  {
    

font-weight: 400px;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0.88px;
margin-left: 20px;
margin-top: 31px;
color: black;






}

.ponto {
width: 124px;
height: 51px;
angle: 0 deg;
opacity: 1;
margin-top: 32px;
margin-left: 20px;
background-color: #4CB538;
color: white;









}

    

